* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
}
a {
  text-decoration: none;
}
body {
  background-color: #2b193d;
  color: #eee0cb;
  font-size: 15px;
  line-height: 23px;
  font-weight: 300;
}
main {
  margin: 0 auto;
  width: 80%;
  max-width: 1024px;
}
header {
  text-align: center;
  background-color: #004f2d;
}
footer {
  text-align: center;
  background-color: #004f2d;
}

h1 {
  font-size: 3rem;
  line-height: 1.6em;
  font-weight: 900;
  text-align: center;
  padding: 3vh;
}
th {
  text-align: left;
  padding-right: 10px;
  vertical-align: top;
}
table,
.animal-behaviour {
  font-size: 1.2rem;
  margin-top: 3vh;
  line-height: 1.6em;
}

.animal-flex {
  display: flex;
  align-items: center;
}
.animal-flex > * {
  width: 50% !important;
  margin-top: 3vh;
}
.animal-list {
  display: flex;
  row-gap: 4vh;
  column-gap: 5%;
  flex-wrap: wrap;
}
.animal-picture {
  width: 100%;
  height: auto;
}
.animal-card {
  width: 30%;
  position: relative;
  font-size: 1.5rem;
}
.animal-card img {
  display: block;
}

.animal-card > a > p {
  padding: 10px;
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  width: 100%;
  bottom: 0;
}
.pad5vh {
  padding: 5vh 0;
}

@media only screen and (max-width: 768px) {
  .animal-list {
    column-gap: 10%;
  }
  .animal-card {
    width: 45%;
  }
}
@media only screen and (max-width: 566px) {
  .animal-card {
    width: 100%;
  }
}
